<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Stan language module for BBEdit (https://mc-stan.org)
	Joey Reid
	
	Stan language definitions: https://github.com/jrnold/stan-language-definitions
	Version 2.19.0
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMLanguageCode</key>
	<string>Stan</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Stan</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.stan</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz.</string>
		<key>Prefix for Functions</key>
		<string/>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Prefix for Procedures</key>
		<string/>
		<key>Terminator for Prototypes 1</key>
		<string/>
		<key>Terminator for Prototypes 2</key>
		<string/>
		<key>String Pattern</key>
		<string><![CDATA[
		(?x:("(\"|[^"\r\n]|[\n\r])*"))
		]]></string>
		<key>Comment Pattern</key>
		<string><![CDATA[
		(//.*$)|(#.*$)|(?s:/\*.*?\*/)
		]]></string>
		<key>Skip Pattern</key>
		<string><![CDATA[
		(?P>comment) | (?P>string)
		]]></string>
		<key>Function Pattern</key>
		<string><![CDATA[
		(?:.*?)?(?:\[.*?\])?\s+(?P<function_name>[A-Za-z][A-Za-z0-9_]+)(?P<parens>\((?>(?>[^()]+)|(?P>parens))*\))[\s\n\r]*?(?P<function>(?>(?P<braces>{(?>(?>[^{}]+)|(?P>braces))*})))
		]]></string>
	</dict>
	<key>BBLMKeywordList</key>
	<array>
		<string>typedef</string>
		<string>float</string>
		<string>protected</string>
		<string>signed</string>
		<string>repeat</string>
		<string>and_eq</string>
		<string>private</string>
		<string>template</string>
		<string>case</string>
		<string>bool</string>
		<string>short</string>
		<string>lp__</string>
		<string>virtual</string>
		<string>operator</string>
		<string>constexpr</string>
		<string>typeid</string>
		<string>static_cast</string>
		<string>continue</string>
		<string>not_eq</string>
		<string>register</string>
		<string>this</string>
		<string>new</string>
		<string>wchar_t</string>
		<string>reinterpret_cast</string>
		<string>nullptr</string>
		<string>using</string>
		<string>union</string>
		<string>catch</string>
		<string>public</string>
		<string>STAN_PATCH</string>
		<string>in</string>
		<string>reject</string>
		<string>switch</string>
		<string>enum</string>
		<string>for</string>
		<string>false</string>
		<string>throw</string>
		<string>fvar</string>
		<string>thread_local</string>
		<string>then</string>
		<string>if</string>
		<string>mutable</string>
		<string>extern</string>
		<string>inline</string>
		<string>xor_eq</string>
		<string>void</string>
		<string>decltype</string>
		<string>char16_t</string>
		<string>or</string>
		<string>explicit</string>
		<string>or_eq</string>
		<string>int</string>
		<string>return</string>
		<string>volatile</string>
		<string>STAN_MINOR</string>
		<string>STAN_MATH_MINOR</string>
		<string>struct</string>
		<string>char</string>
		<string>typename</string>
		<string>const_cast</string>
		<string>auto</string>
		<string>var</string>
		<string>alignof</string>
		<string>asm</string>
		<string>STAN_MAJOR</string>
		<string>goto</string>
		<string>static</string>
		<string>unsigned</string>
		<string>compl</string>
		<string>true</string>
		<string>static_assert</string>
		<string>while</string>
		<string>not</string>
		<string>do</string>
		<string>default</string>
		<string>alignas</string>
		<string>noexcept</string>
		<string>until</string>
		<string>friend</string>
		<string>long</string>
		<string>sizeof</string>
		<string>break</string>
		<string>dynamic_cast</string>
		<string>xor</string>
		<string>class</string>
		<string>delete</string>
		<string>bitor</string>
		<string>print</string>
		<string>STAN_MATH_MAJOR</string>
		<string>char32_t</string>
		<string>bitand</string>
		<string>double</string>
		<string>export</string>
		<string>try</string>
		<string>else</string>
		<string>namespace</string>
		<string>const</string>
		<string>and</string>
		<string>STAN_MATH_PATCH</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>lgamma</string>
		<string>phi_approx</string>
		<string>log1p_exp</string>
		<string>beta</string>
		<string>binomial_lcdf</string>
		<string>sort_indices_desc</string>
		<string>beta_proportion_lpdf</string>
		<string>csr_extract_w</string>
		<string>bernoulli_logit_glm_lpmf</string>
		<string>multi_normal</string>
		<string>frechet_lccdf</string>
		<string>sort_desc</string>
		<string>block</string>
		<string>erf</string>
		<string>cumulative_sum</string>
		<string>multinomial_lpmf</string>
		<string>fma</string>
		<string>multinomial_rng</string>
		<string>functions</string>
		<string>multiply_lower_tri_self_transpose</string>
		<string>atanh</string>
		<string>beta_binomial_lpmf</string>
		<string>hypot</string>
		<string>softmax</string>
		<string>uniform_cdf</string>
		<string>inv_chi_square_rng</string>
		<string>trace</string>
		<string>chi_square_cdf</string>
		<string>row</string>
		<string>lkj_corr_lpdf</string>
		<string>positive_ordered</string>
		<string>inv_chi_square_lccdf</string>
		<string>exponential_rng</string>
		<string>frechet_rng</string>
		<string>min</string>
		<string>uniform_rng</string>
		<string>bernoulli_rng</string>
		<string>inv_gamma</string>
		<string>gamma_p</string>
		<string>qr_q</string>
		<string>poisson_log_rng</string>
		<string>reject</string>
		<string>binomial_lccdf</string>
		<string>log_rising_factorial</string>
		<string>rows_dot_product</string>
		<string>acos</string>
		<string>void</string>
		<string>multi_gp_lpdf</string>
		<string>cauchy_cdf</string>
		<string>multi_normal_lpdf</string>
		<string>bernoulli</string>
		<string>neg_binomial</string>
		<string>ordered_probit_rng</string>
		<string>modified_bessel_second_kind</string>
		<string>cholesky_factor_corr</string>
		<string>gamma_cdf</string>
		<string>poisson_lcdf</string>
		<string>fmin</string>
		<string>fmax</string>
		<string>exp</string>
		<string>categorical_logit_rng</string>
		<string>phi</string>
		<string>chi_square_rng</string>
		<string>sort_indices_asc</string>
		<string>scaled_inv_chi_square</string>
		<string>modified_bessel_first_kind</string>
		<string>double_exponential</string>
		<string>rep_row_vector</string>
		<string>sub_row</string>
		<string>sqrt</string>
		<string>qr_thin_q</string>
		<string>matrix_exp_multiply</string>
		<string>poisson_cdf</string>
		<string>neg_binomial_2</string>
		<string>sort_asc</string>
		<string>neg_binomial_2_lpmf</string>
		<string>categorical_logit</string>
		<string>lkj_corr_rng</string>
		<string>beta_lpdf</string>
		<string>multi_gp</string>
		<string>inv_chi_square_lpdf</string>
		<string>positive_infinity</string>
		<string>transformed data</string>
		<string>mdivide_left_tri_low</string>
		<string>normal_lccdf</string>
		<string>neg_binomial_2_log</string>
		<string>student_t</string>
		<string>dot_self</string>
		<string>pow</string>
		<string>inv_gamma_rng</string>
		<string>beta_binomial_rng</string>
		<string>gamma_lccdf</string>
		<string>normal_id_glm_lpmf</string>
		<string>mdivide_left_spd</string>
		<string>normal_id_glm</string>
		<string>print</string>
		<string>lognormal_lpdf</string>
		<string>cauchy_lcdf</string>
		<string>binomial_lpmf</string>
		<string>num_elements</string>
		<string>weibull_lcdf</string>
		<string>csr_extract_v</string>
		<string>integrate_ode</string>
		<string>cholesky_factor_cov</string>
		<string>gamma</string>
		<string>square</string>
		<string>beta_proportion_lccdf</string>
		<string>pareto_rng</string>
		<string>asin</string>
		<string>ordered_logistic_rng</string>
		<string>sin</string>
		<string>exponential_lpdf</string>
		<string>bessel_second_kind</string>
		<string>tanh</string>
		<string>tgamma</string>
		<string>beta_lcdf</string>
		<string>double_exponential_lpdf</string>
		<string>beta_rng</string>
		<string>neg_binomial_rng</string>
		<string>neg_binomial_lccdf</string>
		<string>skew_normal_lpdf</string>
		<string>floor</string>
		<string>beta_binomial_lcdf</string>
		<string>lognormal_lcdf</string>
		<string>bernoulli_logit_glm</string>
		<string>lognormal</string>
		<string>inv_gamma_lccdf</string>
		<string>exp_mod_normal_cdf</string>
		<string>neg_binomial_2_cdf</string>
		<string>gumbel_rng</string>
		<string>chi_square_lpdf</string>
		<string>beta_proportion</string>
		<string>erfc</string>
		<string>normal_cdf</string>
		<string>binomial_coefficient_log</string>
		<string>falling_factorial</string>
		<string>categorical_lpmf</string>
		<string>inv_logit</string>
		<string>cauchy_lpdf</string>
		<string>inv_phi</string>
		<string>lognormal_lccdf</string>
		<string>append_array</string>
		<string>uniform_lcdf</string>
		<string>fmod</string>
		<string>pareto_type_2_lcdf</string>
		<string>max</string>
		<string>abs</string>
		<string>segment</string>
		<string>wishart_rng</string>
		<string>append_col</string>
		<string>poisson_log_glm</string>
		<string>fdim</string>
		<string>lbeta</string>
		<string>log_falling_factorial</string>
		<string>cov_matrix</string>
		<string>pareto</string>
		<string>owens_t</string>
		<string>poisson_log_glm_lpmf</string>
		<string>multi_normal_cholesky</string>
		<string>columns_dot_self</string>
		<string>inverse</string>
		<string>tan</string>
		<string>mdivide_right_spd</string>
		<string>sqrt2</string>
		<string>binomial_cdf</string>
		<string>rep_vector</string>
		<string>hypergeometric</string>
		<string>cauchy_rng</string>
		<string>inverse_spd</string>
		<string>pareto_lpdf</string>
		<string>int</string>
		<string>integrate_ode_rk45</string>
		<string>matrix_exp</string>
		<string>negative_infinity</string>
		<string>mdivide_right_tri_low</string>
		<string>log_diff_exp</string>
		<string>singular_values</string>
		<string>determinant</string>
		<string>scaled_inv_chi_square_lpdf</string>
		<string>get_lp</string>
		<string>simplex</string>
		<string>frechet_cdf</string>
		<string>trigamma</string>
		<string>machine_precision</string>
		<string>chi_square_lccdf</string>
		<string>pareto_type_2_lpdf</string>
		<string>multinomial</string>
		<string>cos</string>
		<string>multi_normal_cholesky_rng</string>
		<string>inv_gamma_lpdf</string>
		<string>cauchy_lccdf</string>
		<string>model</string>
		<string>lkj_corr</string>
		<string>cols</string>
		<string>inv_cloglog</string>
		<string>diagonal</string>
		<string>beta_proportion_rng</string>
		<string>inv_wishart_rng</string>
		<string>binomial_rng</string>
		<string>is_inf</string>
		<string>multi_normal_cholesky_lpdf</string>
		<string>fabs</string>
		<string>lmgamma</string>
		<string>to_vector</string>
		<string>qr_r</string>
		<string>rank</string>
		<string>atan</string>
		<string>multiply_log</string>
		<string>log1p</string>
		<string>weibull_lccdf</string>
		<string>pareto_type_2_rng</string>
		<string>pareto_type_2_lccdf</string>
		<string>skew_normal_cdf</string>
		<string>log1m_exp</string>
		<string>skew_normal_rng</string>
		<string>gumbel_lpdf</string>
		<string>binary_log_loss</string>
		<string>pareto_type_2_cdf</string>
		<string>neg_binomial_2_log_glm</string>
		<string>rayleigh_lccdf</string>
		<string>uniform_lpdf</string>
		<string>ordered_probit_lpmf</string>
		<string>columns_dot_product</string>
		<string>neg_binomial_2_log_glm_lpmf</string>
		<string>asinh</string>
		<string>cholesky_decompose</string>
		<string>multi_gp_cholesky_lpdf</string>
		<string>inv_wishart</string>
		<string>poisson</string>
		<string>dirichlet_lpdf</string>
		<string>categorical_rng</string>
		<string>bernoulli_lccdf</string>
		<string>multi_normal_prec</string>
		<string>hypergeometric_rng</string>
		<string>scaled_inv_chi_square_lcdf</string>
		<string>gamma_lpdf</string>
		<string>binomial</string>
		<string>inc_beta</string>
		<string>sub_col</string>
		<string>trace_gen_quad_form</string>
		<string>rising_factorial</string>
		<string>row_vector</string>
		<string>ordered_probit</string>
		<string>acosh</string>
		<string>scaled_inv_chi_square_lccdf</string>
		<string>log1m_inv_logit</string>
		<string>algebra_solver</string>
		<string>beta_lccdf</string>
		<string>binomial_logit_lpmf</string>
		<string>rep_array</string>
		<string>inv_gamma_lcdf</string>
		<string>wiener_lpdf</string>
		<string>frechet_lcdf</string>
		<string>poisson_lccdf</string>
		<string>multi_student_t_lpdf</string>
		<string>von_mises_rng</string>
		<string>wishart</string>
		<string>gamma_q</string>
		<string>lognormal_rng</string>
		<string>ceil</string>
		<string>logit</string>
		<string>categorical_logit_lpmf</string>
		<string>dot_product</string>
		<string>target</string>
		<string>lkj_corr_cholesky_rng</string>
		<string>student_t_rng</string>
		<string>transformed parameters</string>
		<string>int_step</string>
		<string>beta_binomial_cdf</string>
		<string>weibull_lpdf</string>
		<string>scaled_inv_chi_square_cdf</string>
		<string>sd</string>
		<string>exp_mod_normal</string>
		<string>trunc</string>
		<string>logistic_rng</string>
		<string>gaussian_dlm_obs</string>
		<string>bernoulli_logit</string>
		<string>multi_student_t_rng</string>
		<string>logistic_lccdf</string>
		<string>rayleigh_rng</string>
		<string>double_exponential_lcdf</string>
		<string>eigenvalues_sym</string>
		<string>double_exponential_rng</string>
		<string>inv_chi_square_cdf</string>
		<string>hypergeometric_lpmf</string>
		<string>rayleigh</string>
		<string>gumbel_lccdf</string>
		<string>dirichlet_rng</string>
		<string>vector</string>
		<string>pareto_lcdf</string>
		<string>trace_quad_form</string>
		<string>multi_gp_cholesky</string>
		<string>pi</string>
		<string>cauchy</string>
		<string>exponential_lcdf</string>
		<string>neg_binomial_2_log_rng</string>
		<string>eigenvectors_sym</string>
		<string>sinh</string>
		<string>von_mises_lpdf</string>
		<string>log1m</string>
		<string>corr_matrix</string>
		<string>head</string>
		<string>inv_chi_square_lcdf</string>
		<string>squared_distance</string>
		<string>frechet_lpdf</string>
		<string>inv_gamma_cdf</string>
		<string>neg_binomial_cdf</string>
		<string>round</string>
		<string>log10</string>
		<string>bernoulli_logit_lpmf</string>
		<string>binomial_logit</string>
		<string>neg_binomial_2_lccdf</string>
		<string>tail</string>
		<string>neg_binomial_2_log_lpmf</string>
		<string>uniform_lccdf</string>
		<string>skew_normal_lccdf</string>
		<string>log</string>
		<string>double_exponential_lccdf</string>
		<string>categorical</string>
		<string>to_row_vector</string>
		<string>neg_binomial_2_rng</string>
		<string>cov_exp_quad</string>
		<string>unit_vector</string>
		<string>poisson_log_lpmf</string>
		<string>to_array_1d</string>
		<string>tcrossprod</string>
		<string>normal_lpdf</string>
		<string>size</string>
		<string>col</string>
		<string>skew_normal</string>
		<string>inv_square</string>
		<string>chi_square</string>
		<string>bernoulli_lcdf</string>
		<string>csr_extract_u</string>
		<string>logistic_cdf</string>
		<string>matrix</string>
		<string>bernoulli_lpmf</string>
		<string>distance</string>
		<string>parameters</string>
		<string>wiener</string>
		<string>beta_binomial</string>
		<string>multi_student_t</string>
		<string>diag_post_multiply</string>
		<string>to_matrix</string>
		<string>crossprod</string>
		<string>std_normal</string>
		<string>diag_matrix</string>
		<string>inv_chi_square</string>
		<string>rayleigh_cdf</string>
		<string>scaled_inv_chi_square_rng</string>
		<string>data</string>
		<string>exponential_lccdf</string>
		<string>neg_binomial_lcdf</string>
		<string>lkj_corr_cholesky_lpdf</string>
		<string>gumbel_cdf</string>
		<string>expm1</string>
		<string>lchoose</string>
		<string>poisson_log</string>
		<string>weibull_cdf</string>
		<string>rows</string>
		<string>lognormal_cdf</string>
		<string>weibull</string>
		<string>variance</string>
		<string>inv_wishart_lpdf</string>
		<string>pareto_lccdf</string>
		<string>logistic</string>
		<string>chi_square_lcdf</string>
		<string>real</string>
		<string>skew_normal_lcdf</string>
		<string>exp_mod_normal_lcdf</string>
		<string>std_normal_lpdf</string>
		<string>bessel_first_kind</string>
		<string>integrate_ode_bdf</string>
		<string>log_inv_logit</string>
		<string>mean</string>
		<string>not_a_number</string>
		<string>to_array_2d</string>
		<string>is_nan</string>
		<string>weibull_rng</string>
		<string>double_exponential_cdf</string>
		<string>digamma</string>
		<string>exponential_cdf</string>
		<string>scale_matrix_exp_multiply</string>
		<string>exp_mod_normal_lpdf</string>
		<string>pareto_type_2</string>
		<string>cosh</string>
		<string>sum</string>
		<string>beta_binomial_lccdf</string>
		<string>choose</string>
		<string>append_row</string>
		<string>quad_form_diag</string>
		<string>diag_pre_multiply</string>
		<string>qr_thin_r</string>
		<string>multi_normal_prec_lpdf</string>
		<string>inv</string>
		<string>generated quantities</string>
		<string>exp_mod_normal_rng</string>
		<string>exponential</string>
		<string>beta_proportion_lcdf</string>
		<string>gumbel</string>
		<string>gamma_lcdf</string>
		<string>map_rect</string>
		<string>pareto_cdf</string>
		<string>rows_dot_self</string>
		<string>exp_mod_normal_lccdf</string>
		<string>poisson_lpmf</string>
		<string>prod</string>
		<string>bernoulli_logit_rng</string>
		<string>gaussian_dlm_obs_lpdf</string>
		<string>ordered_logistic</string>
		<string>inv_sqrt</string>
		<string>normal_lcdf</string>
		<string>cbrt</string>
		<string>log_sum_exp</string>
		<string>lkj_corr_cholesky</string>
		<string>quad_form_sym</string>
		<string>dims</string>
		<string>log_softmax</string>
		<string>poisson_rng</string>
		<string>uniform</string>
		<string>ordered_logistic_lpmf</string>
		<string>student_t_lcdf</string>
		<string>ordered</string>
		<string>student_t_lpdf</string>
		<string>gamma_rng</string>
		<string>frechet</string>
		<string>dirichlet</string>
		<string>multi_normal_rng</string>
		<string>rayleigh_lpdf</string>
		<string>quad_form</string>
		<string>log_determinant</string>
		<string>normal</string>
		<string>beta_cdf</string>
		<string>log2</string>
		<string>csr_matrix_times_vector</string>
		<string>logistic_lpdf</string>
		<string>step</string>
		<string>von_mises</string>
		<string>csr_to_dense_matrix</string>
		<string>rayleigh_lcdf</string>
		<string>neg_binomial_2_lcdf</string>
		<string>bernoulli_cdf</string>
		<string>student_t_cdf</string>
		<string>log_mix</string>
		<string>rep_matrix</string>
		<string>exp2</string>
		<string>normal_rng</string>
		<string>logistic_lcdf</string>
		<string>neg_binomial_lpmf</string>
		<string>wishart_lpdf</string>
		<string>atan2</string>
		<string>e</string>
		<string>lmultiply</string>
		<string>student_t_lccdf</string>
		<string>gumbel_lcdf</string>
	</array>
</dict>
</plist>

